<!DOCTYPE html>
<html>
<head>
  <title>Amazon2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/all-animate.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400|Montserrat|Raleway:200,300,400,600' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
 <!-- Warming Up -->
<link href='https://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="https://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
 <body>
 <div class"container">
   <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id='#home'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DEINDE DAWODU</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style='z-index:5!important' class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar-right">
           <li><a class="smoothScroll" href="#six">PORTFOLIO</a></li>  
            <li><a class="smoothScroll" href="#home">HOME</a></li>
            <li><a class="smoothScroll" href="#one">APPS</a></li>
            <li><a class="smoothScroll" href="#five">ABOUT</a></li>
             <li><a class="smoothScroll" href="#contact">CONTACT</a></li>
          
          </ul>
   
      </div><!-- /.container --> 
    </nav>

<%= yield %>
<script type="text/javascript" src='/assets/jquery.waypoints.min.js'></script>
<script type="text/javascript" src='/assets/waypoint-custom.js'></script>
<script type="text/javascript" src='/assets/modal.js'></script>
<!-- <script type="text/javascript" src='/assets/smoothscroll.js'></script> -->
<%= javascript_include_tag "smoothscroll.js" %>
<!-- <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script> -->

<!-- </div> -->
<!-- end of bootstrap container-->
</body>
</html>